<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', {title: 'home'}) %>
<body>
    <div class="comment">
        <div class="comment__container"></div>
    </div>
    
    <script type="module" src="index.js"></script>
</body>
</html>